.container {
    background-color: lightcyan;
    width: 350px;
    display: inline-block;
    border-radius: 15px;
    font-family: fantasy;
    margin-top: 30px;
    padding: 15px;
}

.childrenInfo {
    background-color: lightcyan;
    width: 350px;
    display: block;
    border-radius: 15px;
    font-family: fantasy;
    margin: auto;
    padding: 15px;
}

.marriedInfo {
    background-color: lightcyan;
    width: 350px;
    display: block;
    border-radius: 15px;
    font-family: fantasy;
    margin: auto;
}

.conContainer {
    border: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.nameContainer {
    display: inline-block;
    vertical-align: middle;
}

.image {
    width: 128px;
}

img {
    border-radius: 50%;
    vertical-align: middle;
    margin: 20px 20px 20px 0px;
    max-width: 128px;
    max-height: 128px;
    width: 100%;
    height: auto;
}


/*.footer {
    padding-left: 10px;
    padding-bottom: 15px;
}*/

.userCardContainer {
    display: block;
    flex-direction: column;
    justify-content: center;
}